<!-- 
    UPLOAD PORTAL PAGE (this is temporary, we can use React later on)
    Learned from this tutorial: https://www.youtube.com/watch?v=Zx09vcYq1oc
    $('#document').replaceWith($('#document').val('').clone(true))
 -->

<!DOCTYPE html>
<html>
    <body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script language="javascript" type="text/javascript">
        
        // Tutorial here: https://css-tricks.com/snippets/jquery/clear-a-file-input/
        function clearUpload() {
            var input = $("#document");
            input.replaceWith(input.val('').clone(true));
        }
    </script>
    <h1>Upload Page</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document" id="document">
        <button type="submit">Upload!</button>
        <button type="button" onclick="clearUpload()">Remove Upload</button>
    </form>
    </body>
    
</html>