/* #aboutpage { */
    /* background-color: rgba(126, 126, 126, 0.425); */
    /* background-image: url(https://wallpapercave.com/wp/WBe7WV2.jpg); */
    /* background-size: cover; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: auto auto auto; */
    /* grid-gap: 10px; */
    
/* } */

/* #aboutpage {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 10px; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
  /* } */
  
  /* .grid-container > div { */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: center; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
  /* } */
  
  /* .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  } */


/* #box {
    grid-row-start: 1;
    grid-row-end: 3;
} */

/* #aboutpage > div { */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: center; */
    /* padding: 20px 0; */
    /* font-size: 30px; */
  /* } */

/* .i1 { */
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
/* } */

/* .i2 { */
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
/* } */

#paragraph {
    /* font-style: italic; */
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(218, 218, 218, 0.548);
    
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 18px solid #29648A;
    line-height: 30px;
    padding: 50px;
    /* margin: 20px; */
    text-align: left;
    text-indent: 30px;
    /* transition: 3s; */
}

#title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

/* #indent {
    margin-left: 40px;
} */